<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Change Password</h4>
                </div>
                <div class="card-body">
                    <form method="post" class="form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Invalid link</h4>
                </div>
                <div class="card-body">
                  The password reset link you provided is no longer valid!
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}